[workspace]
resolver = "2"
members = [
    "common",
    "ring",
]

[workspace.dependencies]
ark-std = { version = "0.5", default-features = false }
ark-ff = { version = "0.5", default-features = false }
ark-ec = { version = "0.5", default-features = false }
ark-poly = { version = "0.5", default-features = false }
ark-serialize = { version = "0.5", default-features = false, features = ["derive"] }
fflonk = { git = "https://github.com/w3f/fflonk", branch="return-result", default-features = false }
rayon = { version = "1", default-features = false }
