[package]
name = "ring"
version = "0.1.0"
edition = "2021"

[dependencies]
ark-std.workspace = true
ark-ff.workspace = true
ark-ec.workspace = true
ark-poly.workspace = true
ark-serialize.workspace = true
fflonk.workspace = true
merlin.workspace = true
rayon = { workspace = true, optional = true }
common = { path = "../common" }
sha2 = { version = "0.10", default-features = false }

[dev-dependencies]
ark-bls12-381 = { version = "0.4.0-alpha.2", default-features = false, features = ["curve"] }
ark-ed-on-bls12-381-bandersnatch = { version = "0.4.0-alpha.2", default-features = false }

[features]
default = []
std = ["ark-std/std", "ark-ff/std", "ark-ec/std", "ark-poly/std", "ark-serialize/std"]
parallel = ["std", "ark-std/parallel", "ark-ff/parallel", "ark-ec/parallel", "ark-poly/parallel", "common/parallel", "rayon"]
print-trace = ["ark-std/print-trace"]